name: Compile auto

on:
  repository_dispatch:
    types:
      - Compile-auto
  workflow_dispatch:

env:
  TZ: America/New_York

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Initialization environment
        id: init
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi $(docker images -q)
          sudo rm -rf /usr/share/dotnet /etc/apt/sources.list.d /usr/local/lib/android || true
          sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox* google* powershell openjdk* adoptopenjdk* mongodb* dotnet* moby* snapd* || true
          sudo -E apt-get -qq update -y
          sudo -E apt-get -qq full-upgrade -y
          sudo -E apt-get -qq install -y $(cat ./compile-kernel/tools/script/ubuntu2204-build-armbian-depends)
          sudo -E apt-get -qq autoremove --purge
          sudo -E apt-get -qq clean
          sudo timedatectl set-timezone "${TZ}"
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: Compile the kernel
        uses: ffuqiangg/amlogic-s9xxx-armbian@main
        with:
          build_target: kernel
          kernel_version: ${{ github.event.client_payload.kernel_version }}
          kernel_auto: ${{ github.event.client_payload.kernel_auto }}
          kernel_package: all
          kernel_toolchain: clang
          kernel_sign: -ffuqiangg
          kernel_source: unifreq

      - name: Upload Kernel to Release
        uses: ncipollo/release-action@main
        if: env.PACKAGED_STATUS == 'success' && !cancelled()
        with:
          tag: kernel_${{ env.PACKAGED_OUTPUTTAGS }}
          artifacts: ${{ env.PACKAGED_OUTPUTPATH }}/*
          allowUpdates: true
          token: ${{ secrets.GH_TOKEN }}
          body: |
            The kernel can be used to compile Armbian and OpenWrt.
            The kernel source code comes from: unifreq
            The kernel compilation toolchain: clang

      - name: Sync kernel to another repo
#          run: |
#            curl -X POST https://api.github.com/repos/ffuqiangg/kernel/dispatches -H "Accept: application/vnd.github.everest-preview+json" -H "Authorization: token ${{ secrets.KERNEL_TK }}" --data '{"event_type": "Sync-Kernel","client_payload": {"releaseTag": "kernel_${{ env.PACKAGED_OUTPUTTAGS }}}}'
        uses: peter-evans/repository-dispatch@v2
        if: github.event.client_payload.auto_sync == 'true'
        with:
          token: ${{ secrets.KERNEL_TK }}
          repository: ffuqiangg/kernel
          event-type: Sync-Kernel
          client-payload: '{"release_tag": "kernel_${{ env.PACKAGED_OUTPUTTAGS }}", "auto_build": "${{ github.event.client_payload.auto_build }}", "rm_release": "${{ github.event.client_payload.rm_release }}"}'

      - name: Telegram notification
        run: |
          MSG="
          ✅ 内核编译完成 *${{ env.PACKAGED_OUTPUTTAGS }}*
          "
          curl "https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage" -d "chat_id=${{ secrets.TELEGRAM_TO }}&text=${MSG}&parse_mode=MarkDown"

      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: 10
          keep_minimum_runs: 5
